{
    "discord-token": "PLACEHOLDER",
    "command-prefix": "t!",
    "playing-line": [
        "Have a cup of tea"
    ],

    "restart-votes-required": 5,
    "channels": {
        "admin": [],
        "public": [],
        "action-log": ""
    },
    "roles": {
        "admin": []
    },

    "docker-info-file": "dockers",
    "docker-defaults": {
        "cpus": 0.1,
        "memory": 100
    }

}